@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

img {
  height: auto;
  width: 500px;
}
body {
  font-family: "Nunito", sans-serif;
  color: #ffffff;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  text-align: center;
  margin: 0;
  padding: 0;
}
.Ingredients-items,
.items {
  padding-left: 300px;
  text-align: left;
}
.Ingredients,
.direction {
  font-size: 30px;
  color: black;
  background-color: bisque;
}
h1 {
  background-color: black;
  height: 60px;
  text-align: center;
  padding-top: 20px;
}
h3 {
  color: black;

  font-size: 30px;
}
a {
  color: bisque;
}
